name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    if: github.repository == 'tremendous-rewards/tremendous-python'
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
        if: ${{ steps.release.outputs.release_created }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
        if: ${{ steps.release.outputs.release_created }}

      - name: Build package
        run: python -m build
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@897895f1e160c830e369f9779632ebc134688e1b
        if: ${{ steps.release.outputs.release_created }}
